/* comment here about design choices */

* {
  box-sizing: border-box;
}

body {
  /* background-color: #F26F92; */
  background-color: #F73D69;
  font-family: 'Questrial', sans-serif;
  /* background-image: url('images/character.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 500px; */
  /* overflow-x: hidden; */
}

h1 {
  color:white;
  text-align: center;
  line-height: 2em;
  font-size: 2.5em;
}

.character {
  margin: 15px auto;
  display: block;
  text-align: center;
  width:175px;
  /*padding-top: 10px;*/
  /*width: 20vw;*/
  top: 100px;
  left: 450px;
}

#laptop {
  position: absolute;
  top: 0;
  left: 0;

}

#keys {
  position: absolute;
  top: 0;
  left: 0;

}
#fieldbook {
  z-index: 2;
  position: absolute;
  left: 400px;
  width: 70px;
  margin-left: calc(50% + 1px);
  /* margin-top: 45px; */
  margin: 15px auto;

}

.items {
  width: 100px;
  /* display: none; */
  position: relative;
  top: 0;
  left: 0;
}

/*Hover over items to make them highlight and indicate that it is clickable*/

img:hover {
}

/* fix footer to bottom of page*/
footer {
  background-color: black;
  color: white;
  margin: auto;
  font-size: 14px;
  padding: 20px 30px 5px 30px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #ff0000;
}

/* below 769px change change graphics to only pictures of items*/

@media only screen and (min-width: 769px) {
   .character {
     background-image:
   }
}
