/* comment here about design choices */

* {
  box-sizing: border-box;
}

body {
  /* background-color: #F26F92; */
  background-color: #F73D69;
  font-family: 'Questrial', sans-serif;
  /* background-image: url('images/character.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 500px; */
  /* overflow-x: hidden; */
}

h1 {
  color:white;
  text-align: center;
  line-height: 2em;
  font-size: 2.5em;
}

#characterContainer{
  position:relative;
  background-color: purple;
  width:50%;
  margin:auto;
}

.items img{
  position:absolute;
  width: 100px;
}

#character {
  margin: 15px auto;
  display: block;
  text-align: center;
  width: 20vw;
  /* width:175px;
  padding-top: 10px;
  top: 100px;
  left: 450px; */
}

#fire {
  display: block;
  text-align: center;
  width: 40vw;
  z-index: 1;
  position: absolute;
  top:50px;
  left:60px;
  display: none;
}

#laptop {
  /* background-color: blue; */
  position: absolute;
  top:267px;
  left:232px;
  z-index: 2;
  width: 125px;
  opacity: 0;
}

#keys {
  position: absolute;
  /* background-color: red; */
  top:417px;
  left:263px;
  z-index: 2;
  width: 65px;
  opacity: 0;

}
#fieldbook {
  /* background-color: red; */
  position: absolute;
  top:285px;
  left:318px;
  z-index: 2;
  width: 92px;
  transform: rotate(0deg);
  /* margin-left: calc(50% + 1px); */
  /* margin-top: 45px; */
  /* margin: 15px auto; */
  opacity: 0;

}

/*Hover over items to make them highlight and indicate that it is clickable*/

/* img #laptop:hover {
  color: black;
  background-color: black;
} */

/* position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #008CBA; */

#laptopButton img:hover {
  opacity: .7;
  transition: .5s ease;
  color: red;
}


#fieldbookButton img:hover {
  opacity: .7;
  transition: .5s ease;
  color: red;
}

#keysButton img:hover {
  opacity: .7;
  transition: .5s ease;
  color: red;
}

/* Overlay effects */

#overlay {
  background-color: #000;
  color: deeppink;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}


/* fix footer to bottom of page*/
footer {
  background-color: black;
  color: white;
  margin: auto;
  font-size: 14px;
  padding: 20px 30px 5px 30px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #ff0000;
}

/* below 769px change change graphics to only pictures of items*/

@media only screen and (min-width: 769px) {
   .character {
     background-image:
   }
}
