/* comment here about design choices */

* {
  box-sizing: border-box;
}

body {
  /* background-color: #F26F92; */
  background-color: #F73D69;
  font-family: 'Questrial', sans-serif;
  /* 
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 500px; */
  /* overflow-x: hidden; */
}

h1 {
  color:white;
  text-align: center;
  line-height: 2em;
  font-size: 2.5em;
}

#characterContainer{
  position:relative;
  /* background-color: purple; */
  width:50%;
  margin:auto;
}

.items img {
  position:absolute;
  width: 100px;
}

#character {
  margin: 15px auto;
  display: block;
  text-align: center;
  width: 300px;
  /* width:175px;
  padding-top: 10px;
  top: 100px;
  left: 450px; */
}

#fire {
  display: block;
  text-align: center;
  width: 700px;
  z-index: 1;
  position: absolute;
  top:50px;
  left:100px;
  display: none;
}

#laptop {
  /* background-color: blue; */
  position: absolute;
  top:300px;
  left:200px;
  z-index: 2;
  width: 140px;
  opacity: 0;
}

#keys {
  position: absolute;
  /* background-color: red; */
  top:480px;
  left:230px;
  z-index: 2;
  width: 80px;
  opacity: 0;

}
#fieldbook {
  /* background-color: red; */
  position: absolute;
  top:330px;
  left:318px;
  z-index: 2;
  width: 92px;
  transform: rotate(0deg);
  /* margin-left: calc(50% + 1px); */
  /* margin-top: 45px; */
  /* margin: 15px auto; */
  opacity: 0;

}

/*Hover over items to make them highlight and indicate that it is clickable*/

img #laptop:hover {
  color: black;
  background-color: black;
}


.laptopButton img:hover {
  /* position: absolute;
  top:267px;
  left:232px; */
  opacity: .7;
  transition: .5s ease;
  color: red;
}


.fieldbookButton img:hover {
  opacity: .7;
  transition: .5s ease;
  color: red;
}

.keysButton img:hover {
  opacity: .7;
  transition: .5s ease;
  color: red;
}

/* Overlay effects */

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2em;
  width: 80%;
}

.popUp{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: white;
  opacity: 1;
  border: 1px solid black;
  z-index: 2;

}

.close {
  color: #fb809f;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 1em;
  right: 1em;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #F73D69;
}

p {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: auto;
  font-size: 1.5em;
}

/* fix footer to bottom of page*/
footer {
  background-color: black;
  color: white;
  margin: auto;
  font-size: 14px;
  padding: 20px 30px 5px 30px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #ff0000;
}

/* below 769px change change graphics to only pictures of items*/

/*Desktop First*/

@media only screen and (max-width: 769px) {

  .items {
    grid-template-columns: 1fr;
  }

   #character {
     display: none;
   }

   #laptop {
     /* position: absolute; */
     /* top:267px;
     left:232px; */
     z-index: 2;
     width: 125px;
     opacity: 1;
     position: fixed;
    top: 50%;
    left: 30%;
    /* bring your own prefixes */
    /* transform: translate(-50%, -50%); */
   }

   #keys {
     /* position: absolute; */
     /* top:267px;
     left:232px; */
     z-index: 2;
     width: 105px;
     opacity: 1;
     position: fixed;
    top: 60%;
    left: 45%;
    /* bring your own prefixes */
    /* transform: translate(-50%, -50%); */
   }

   #fieldbook {
     /* position: absolute; */
     /* top:267px;
     left:232px; */
     z-index: 2;
     width: 90px;
     opacity: 1;
     position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    /* transform: translate(-50%, -50%); */
   }


  #fieldbook img {
    background: url('images/mobilefieldbook.svg');
  }

   #laptopButton img:hover {
     /* position: absolute; */
     /* top:267px;
     left:232px; */
     opacity: .7;
     transition: .5s ease;
     color: red;
   }

   #fieldbookButton img:hover {
     opacity: .7;
     transition: .5s ease;
     color: red;
   }

   #keysButton img:hover {
     opacity: .7;
     transition: .5s ease;
     color: red;
   }
}
