#quotes {
    width: 375px;
    height: 812px;
    margin:auto;
    position: relative;
    padding-top: 400px;
    box-sizing: border-box;
    text-align: center;

}

header img {
    position: relative;
    /* margin:auto; */
    top: -300px;
    left:-100px;
    text-align: center;
}

/* section div#iphonecontainer {
    position: absolute;
    top:10px;
    left: 10px;
    margin: auto;
    text-align: center;
} */

span {
    display: none;
}

.q1 {
    display: block;
}

section {
}

footer {

}

footer img {
    position: absolute;
    bottom: 0;
    left: 0;

}